<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vital-Food</title>
    <style>
        body{
            margin: 0;
            background-color: #FFFADD;
        }

        .title-bar{
            width: 100%;
            height: 80px;
            background-color: #83EDA1;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            font-size: xx-large;
            display: grid;
            align-items: center;
            justify-content: center;
        }
        .container{
            padding: 1%;
        }
        .about-box{
            border-radius: 15px;
            background-color: #C5FFD5;
            font-family: 'Courier New', Courier, monospace;
            padding: 1%;
        }
    </style>
</head>
<body>
    <div class="title-bar">
       VitalFood
    </div>
    <br>
    <div class="container">
        <div class="about-box">
            <p>
                VitalFood API is an open-source RESTful service that not only provides information on existing health conditions, food recommendations and food to avoid but also allows users to contribute by adding new health conditions and related data. This collaborative approach enables community members to expand the database, ensuring that the API remains comprehensive and up-to-date with the latest health information. By fostering a community-driven environment, VitalFood API empowers users to actively participate in improving health awareness and promoting better nutrition practices worldwide.
            </p>
        </div>
    </div>
    <i>under development</i
</body>
</html>